form > label {
    font-family: Pretendard_Bold, sans-serif, arial !important;
}
form > div {
    font-family: Pretendard_Medium, sans-serif, arial !important;
}
.alert {
    margin: 15px 15px 0;
    color: white;
}